<app-v-nav></app-v-nav>
<div class="content col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="row">
    <div class="col-lg-4 checkout">
      <form (ngSubmit)="checkoutForm.form.valid && createBill(); checkoutForm.reset()" #checkoutForm="ngForm" novalidate name="form">
        <div class="form-group">
          <label for="role">Client Role</label>
          <mat-select class="form-control" placeholder="Select" [(value)]="bill.client_role">
            <mat-option value="guest">Guest</mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <label for="role">Paying Method</label>
          <mat-select class="form-control" placeholder="Select" [(value)]="bill_details.method">
            <mat-option value="cash">Cash</mat-option>
            <mat-option value="credit">Credit</mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <label for="role">Checkout Note</label>
          <textarea class="form-control" matInput placeholder="Checkout note here" [(ngModel)]="bill_details.note" name="note" id="note"></textarea>
        </div>
        <div class="form-group">
          <label for="role">Paying</label>
          <input type="number" class="form-control" matInput [(ngModel)]="bill_details.paying" name="paying" id="paying" required>
        </div>
        <div class="row title">
          <div class="col-lg-3">
            <p>Product</p>
          </div>
          <div class="col-lg-3">
            <p>Price</p>
          </div>
          <div class="col-lg-3">
            <p>Quantity</p>
          </div>
          <div class="col-lg-3">
            <p>Subtotal</p>
          </div>
        </div>
        <div class="row detail-list" [ngStyle]="{'overflow-y': checkout_products_list.length >= 13 ? 'scroll' : 'unset'}">
          <div class="detail" *ngFor="let product of checkout_products_list">
            <div class="col-lg-3">
              <p class="badge badge-custom">{{product.name}}</p>
            </div>
            <div class="col-lg-3">
              <p>${{product.price}}</p>
            </div>
            <div class="col-lg-3">
              <input class="form-control" type="number" matInput value="{{product.quantity}}" name="product_quantity[]">
            </div>
            <div class="col-lg-3">
              <p>${{product.price * product.quantity}}</p>
            </div>
          </div>

        </div>
        <div class="row status text-center">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 blue-bg">
                <p>Total items<br/>
                  {{checkout_products_list.length}}
                  <input type="hidden" [(ngModel)]="bill_details.total_items" value="{{checkout_products_list.length}}" name="total_items">
                </p>
              </div>
              <div class="col-lg-6 blue-bg">
                <p>Total price<br/>
                  ${{total_price}}
                </p>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6 blue-bg">
                    <p>Discount<br/>
                      ${{discount}}
                    </p>
                  </div>
                  <div class="col-lg-6 blue-bg">
                    <p>Other Tax<br/>
                      ${{other_tax}}
                    </p>
                  </div>
            </div>
          </div>
        </div>
        <div class="row action">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <button type="button" class="btn btn-cancel-custom" (click)="cancelBill(); checkoutForm.reset()">Cancel</button>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-print-bill-custom">Print bill</button>
              </div>
              <div class="col-lg-4">
                <button type="submit" class="btn btn-success">Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-8 products">
      <div class="row">
        <div class="card text-center" *ngFor="let product of products.result" (click)="addProduct(product)">
          <img src="/assets/images/{{product.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text badge badge-success">${{product.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
