<form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="Your logo here" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Login <span>POS</span></h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" class="form-control" placeholder="Username" required autofocus #username="ngModel" name="username" [(ngModel)]="user.username">
  <div *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert alert-danger">
    <div *ngIf="username.errors.required">
      Username is required.
    </div>
  </div>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required #password="ngModel" name="password" [(ngModel)]="user.password">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
